@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

.header {
 position: relative; /* Add relative positioning to contain the pseudo-element */
  background-image: url(../assets/images/R.jpg);
  background-size: cover;
  filter: blur(0.5px);
  /* height: 400px; */
  background-position: center;
  width: 100%;
  font-weight: 700;
  font-size: 4rem;
  padding: 5rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  border-bottom: 1px solid #8b451344; /* Gold border at the bottom */
  font-family: 'Cormorant Garamond', serif;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Dark overlay color */
  opacity: 0.8; /* Adjust opacity as needed */
  z-index: 1; /* Place it below the text content */
}

.header2 {
  /* position: relative; */
  background-color: black;
  background-size: cover;
  height: 90%;
  /* background-position: center; */
  width: 100%;
  z-index: 2;
  color: black; /* Gold color for text */
  text-align: center;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  border-bottom: 3px solid #8b451344; /* Gold border at the bottom */
}

.header-content {
  position: relative;
  z-index: 1; /* Ensure the content is above the overlay */
}

.header-title {
  font-size: 2.5rem;
  font-weight: 400;
  color:rgb(255, 255, 255);
  margin: 10;
  padding: 5;
  font-family: 'Cormorant Garamond', serif; /* Luxurious serif font for title */
}

.header-subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);;
  margin-top: 1rem;
}

.sub-header {
  height: auto !important;
  width: auto !important;
}
.book {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: white;
text-decoration: solid;
text-wrap: boxed;
  font-weight: 700;
  transition: color 0.3s ease, transform 0.3s ease;
}

.book:hover {
  color: #35f532;
  transform: scale(1.1);
}
 /* Responsive design */
 @media screen and (max-width: 1000px) {
  .container {
     max-width: 100%;
   }
 }
 .bokApp{
  width: 22%;
  margin-left: 250px;
  height: 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.466);
  border:solid 3px rgb(228, 228, 38);
 }